@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-blue-100 text-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='file'] {
  display: none;
}

@layer utilities {
  .word-cloud-status-pending {
    @apply text-yellow-400 font-bold;
  }
  .word-cloud-status-progress {
    @apply text-orange-400 font-bold;
  }
  .word-cloud-status-complete {
    @apply text-green-400 font-bold;
  }
}
